__pycache__/
~$*
*.pyc
plots/
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_nores.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_nores.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_res.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_res.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_resnuc.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_resnuc.png
presentation_latex_nuc/figures_2025_12_02/elecUse_net_nores.pdf
presentation_latex_nuc/figures_2025_12_02/elecUse_net_nores.png
presentation_latex_nuc/figures_2025_12_02/elecUse_net_res.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_nores.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_nores.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_res.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_res.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_resnuc.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_resnuc.png
presentation_latex_nuc/figures_2025_12_02/elecUse_net_nores.pdf
presentation_latex_nuc/figures_2025_12_02/elecUse_net_nores.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_nores.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_nores.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_res.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_res.png
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_resnuc.pdf
presentation_latex_nuc/figures_2025_12_02/elecSupply_tech_net_resnuc.png
presentation_latex_nuc/figures_2025_12_02/elecUse_net_nores.pdf
presentation_latex_nuc/figures_2025_12_02/elecUse_net_nores.png
presentation_latex_nuc/figures_2025_12_02/elecUse_net_res.pdf
presentation_latex_nuc/figures_2025_12_02/elecUse_net_res.png
presentation_latex_nuc/figures_2025_12_02/elecUse_net_resnuc.pdf
*.png
