aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair
annotated-types
anyio
appdirs==1.4.4
argon2-cffi
arrow
astroid
astropy
asttokens
async-lru
atomicwrites==1.4.0
attrs
autopep8
Babel
beautifulsoup4
black
bleach
blinker
bokeh
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docopt==0.6.2
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools
frozenlist
fsspec
future
gensim
gitdb
GitPython
greenlet
h11
h5py
holoviews
httpcore
httpx
hvplot
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython==8.12.3
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
more-itertools
mpmath
msgpack
msoffcrypto-tool==5.4.2
multidict
multipledispatch
munkres==1.1.4
mypy
mypy-extensions
nbclassic
nbclient
nbconvert==7.16.4
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
olefile==0.47
openpyxl==3.0.10
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy>=0.5.3
pexpect
pillow
pipreqs==0.5.0
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pyaxis==0.4.1
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
pyjstat==2.4.0
PyJWT
pylint
pylint-venv
Pympler
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rich
rope
rpds-py
Rtree
ruamel.yaml
s3fs
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
SQLAlchemy
stack-data
statsmodels>=0.14.4
streamlit
sympy
tables
tabulate
tenacity
terminado
text-unidecode
textalloc==1.1.8
textdistance
threadpoolctl
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
Twisted
typing_extensions
tzdata
tzlocal
ujson
unicodedata2
Unidecode
urllib3
validators
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
widgetsnbextension
wrapt
xarray
xlrd==2.0.2
xlwings
xyzservices
yapf
yarg==0.1.9
yarl
zict
zipp
zope.interface
zstandard